<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
					http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="indexAction" class="cn.edu.zucc.shijf.action.IndexAction" parent="baseAction"/>

    <!--<bean id="userAction" class="com.sshhw.web.UserAction" parent="baseAction">-->
        <!--<property name="blogService">-->
            <!--<ref bean="blogService"/>-->
        <!--</property>-->
        <!--<property name="userService">-->
            <!--<ref bean="userService"/>-->
        <!--</property>-->
        <!--<property name="sqlService">-->
            <!--<ref bean="sqlService"/>-->
        <!--</property>-->
    <!--</bean>-->

    <!--<bean id="blogAction" class="com.sshhw.web.BlogAction" parent="baseAction">-->
        <!--<property name="blogService">-->
            <!--<ref bean="blogService"/>-->
        <!--</property>-->
        <!--<property name="sqlService">-->
            <!--<ref bean="sqlService"/>-->
        <!--</property>-->
        <!--<property name="userService">-->
            <!--<ref bean="userService"/>-->
        <!--</property>-->
    <!--</bean>-->

    <!-- 分割线 -->
    <bean id="teacherAction" class="cn.edu.zucc.shijf.action.TeacherAction">
        <property name="teacherService" ref="teacherService"/>
    </bean>
    <bean id="studentAction" class="cn.edu.zucc.shijf.action.StudentAction">
        <property name="studentService" ref="studentService"/>
    </bean>
    <bean id="systemUserAction" class="cn.edu.zucc.shijf.action.SystemUserAction">
        <property name="systemUserService" ref="systemUserService"/>
    </bean>

</beans>