<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
					http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="teacherDAO" class="cn.edu.zucc.shijf.dao.TeacherDAO">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="studentDAO" class="cn.edu.zucc.shijf.dao.StudentDAO">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="systemUserDAO" class="cn.edu.zucc.shijf.dao.SystemUserDAO">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="courseDAO" class="cn.edu.zucc.shijf.dao.CourseDAO">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="chooseCourseDAO" class="cn.edu.zucc.shijf.dao.ChooseCourseDAO">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

</beans>