<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
					http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    <!--<bean id="userService" class="com.sshhw.service.UserService" parent="UserDAO"/>-->
    <!--<bean id="blogService" class="com.sshhw.service.BlogService" parent="BlogDAO">-->
        <!--<property name="sqlService" ref="sqlService"/>-->
    <!--</bean>-->

    <!--分割线-->
    <bean id="teacherService" class="cn.edu.zucc.shijf.service.TeacherService">
        <property name="teacherDAO" ref="teacherDAO"/>
    </bean>
    <bean id="studentService" class="cn.edu.zucc.shijf.service.StudentService">
        <property name="studentDAO" ref="studentDAO"/>
    </bean>
    <bean id="systemUserService" class="cn.edu.zucc.shijf.service.SystemUserService">
        <property name="systemUserDAO" ref="systemUserDAO"/>
    </bean>
    <bean id="courseService" class="cn.edu.zucc.shijf.service.CourseService">
        <property name="courseDAO" ref="courseDAO"/>
    </bean>

</beans>