<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
					http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="teacherAction" class="cn.edu.zucc.shijf.action.TeacherAction" parent="baseAction">
        <property name="teacherService" ref="teacherService"/>
        <property name="courseService" ref="courseService"/>
    </bean>
    <bean id="studentAction" class="cn.edu.zucc.shijf.action.StudentAction" parent="baseAction">
        <property name="studentService" ref="studentService"/>
        <property name="courseService" ref="courseService"/>
        <property name="chooseCourseService" ref="chooseCourseService"/>
    </bean>
    <bean id="systemUserAction" class="cn.edu.zucc.shijf.action.SystemUserAction" parent="baseAction">
        <property name="systemUserService" ref="systemUserService"/>
        <property name="teacherService" ref="teacherService"/>
        <property name="studentService" ref="studentService"/>
    </bean>
    <bean id="courseAction" class="cn.edu.zucc.shijf.action.CourseAction" parent="baseAction">
        <property name="courseService" ref="courseService"/>
    </bean>
    <bean id="chooseCourseAction" class="cn.edu.zucc.shijf.action.ChooseCourseAction" parent="baseAction">
        <property name="chooseCourseService" ref="chooseCourseService"/>
    </bean>

</beans>